#container-de-pontuacion {
    display: flex;
    justify-content: space-between;
    border: solid 2px rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 500px;
}

#container-de-pontuacion img {
    width: 100px;
}

#container-de-pontuacion #pontos {
    background-color: white;
    color: rgb(76, 76, 76);
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100px;
}

#container-de-pontuacion #pontos #score {
    font-size: 13px;
}